<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Library Management</title>
  <link rel="stylesheet" href="/css/bootstrap_v4.css">
  <link rel="stylesheet" href="/css/custom.css">
</head>
<body>
<div class="container">
  <h3>Library Management - Loan Book</h3>
  </br>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <th>Name</th>
    <th>Copies available</th>
    <th>Loan to</th>
    <th></th>
    </thead>
    <tbody>
    <tr th:each="tempBook : ${books}">
      <form action="#" th:action="@{/loan/save}" method="POST">
        <td th:text="${tempBook.name}"></td>
        <td th:text="${tempBook.copiesAvailable}"></td>
        <td>
          <select class="form-control form-control-sm" th:name="userId">
            <option value="0">Select User</option>
            <option th:each="i : ${tempBook.availableUsers}" th:value="${i.id}" th:text="${i.firstName}"></option>
          </select>
        </td>
        <td>
          <button type="submit" class="btn btn-primary btn-sm mb-3">Accept Loan</button>
        </td>
        <!-- Keep in this hidden input the id of the book in order to pass it into the save loan action -->
        <input type="hidden" th:value="${tempBook.id}" name="bookId"/>
      </form>
    </tr>
    </tbody>
  </table>
  <hr>
  <a th:href="@{/dashboard}" class="btn btn-dark btn-sm mb-3">Return</a>
</div>
</body>
</html>